[Desktop Entry]
Encoding=UTF-8
Name=Terminal autostart
Comment=Start a terminal and list directory
Exec=/usr/bin/lxterminal --geometry=160x20 -e "sudo /home/pi/bitcoindesktoys/metascript.sh"
